:root {
  --bg: #000000;
  --fg: #949494;
  --accent: #ffffff;
}

html {
  padding: 0;
  margin: 0;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

.blurred-bg {
  backdrop-filter: blur(20px);
}

.bordered {
  border-style: solid;
  border-width: 0.2em;
  border-color: var(--fg);
  border-radius: 2em;
  border-spacing: 0;

  border-radius: 2em;
}

#avatar-picture {
  width: 20em;
  height: 20em;
  margin: 5em auto;
  display: block;

  border-radius: 50%;

  transition: all 0.3s ease-in-out;
}

#avatar-picture:hover {
  /* transform: scale(1.2); */
  transform: rotateY(180deg);
}

header {
  text-align: center;

  color: var(--fg);
  width: auto;

  width: 40em;
  margin: auto;
}

header * {
  margin: auto;

  padding: 10px;
}

body {
  background-clip: border-box;
  background-image: url("./assets/background.mp4");
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.card {
  color: var(--fg);
  background: blue;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  background: red;
}
