:root {
  --bg: #191724;
  --fg: #e0def4;
  --accent: #9ccfd8;
}

@font-face {
  font-family: Terminus;
  src: url(./assets/fonts/TerminusTTF-4.49.3.ttf);
}

@font-face {
  font-family: Terminus;
  src: url(./assets/fonts/TerminusTTF-Bold-4.49.3.ttf);
  font-weight: bold;
}

@keyframes spring {
  0% {
    transform: scale(1) translateY(0);
  }
  10% {
    transform: scale(1.2, 0.6);
  }
  30% {
    transform: scale(0.8, 1.1) translateY(-20px);
  }
  50% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes spin-me {
  0% {
    transform: rotateY(0deg);
  }

  70% {
    transform: rotateY(0deg);
  }

  80% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

html {
  padding: 0;
  margin: 0;

  font-family: Terminus;
  font-size-adjust: 0.6;
  overflow: hidden;
}

li {
  margin: 1em 0;
}

li a {
  color: var(--accent);
}
a {
  color: inherit;
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

.card .italic {
  font-size: inherit;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.scroll-button {
  transition: all 0.5s ease-in-out;
  display: flex;
  animation: 5s ease infinite spring;
  position: absolute;
  /*background-color: red !important;
  */
  right: 50%;
  left: 50%;
  /* Needed for real center */
  cursor: pointer;

  z-index: 10;
}

#scroll-up-button {
  margin-left: -20px;
  width: 40px;
  height: 40px;
  top: 5em;
}

#scroll-down-button {
  margin-left: -25px;
  width: 50px;
  height: 50px;
  bottom: 5em;
}

.scroll-button.hide {
  height: 0px !important;
  width: 0px !important;
  margin-left: 0px !important;
}

.scroll-button svg * {
}
.scroll-button svg {
  transform:;

  margin: auto;

  fill: var(--fg);
  text-align: center;
}

.blurred-bg {
  backdrop-filter: blur(20px);
}

.bordered {
  border-style: solid;
  border-width: 1px; /*0.15em;*/
  border-color: var(--accent);
  border-radius: 6px;
  border-spacing: 0;

  background-color: rgba(25, 23, 36, 0.2);
}

#avatar-picture * {
  margin: auto;
}

#avatar-picture {
  width: 20em;
  height: 20em;
  display: block;
  margin-top: auto;
  margin-bottom: auto;

  border-radius: 50%;

  display: flex;
}

#avatar-picture:hover {
  animation: 5s ease infinite spring;
}

header {
  transition: all 0.5s ease-in-out;

  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;

  color: var(--fg);

  display: flex;
  justify-content: space-around;

  height: 100vh;
}

header.out {
  top: 100vh;
}

.name {
  transition: all 0.5s ease-in-out;
  padding: 1em 5em;
  margin-top: auto;
  margin-bottom: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name * {
  transition: all 0.5s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#name {
  height: 1.75em;
  margin: 0;
}

#title {
  color: var(--accent);
}

#aka,
#username {
  height: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

#username {
  color: var(--accent);
}

#location {
  color: var(--fg);
  white-space: nowrap;
  display: block;
}

#location-name {
  color: var(--accent);
  white-space: nowrap;
  display: inline;
}

.name:hover #aka,
.name:hover #username {
  height: 1.75em;
}

body {
  background-clip: border-box;
  background-image: url("./assets/background.mp4");
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.content {
  transition: all 0.5s ease-in-out;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content.out {
  top: 150vh;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  padding: 4em;
}
.card {
  z-index: 100;
  color: var(--fg);
  display: flex;
  flex-direction: row;
  padding: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.card a,
.card svg {
  margin-top: auto;
  margin-bottom: auto;
}

.card svg {
  transition: all 0.5s ease-in-out;
  transform: rotateY(180deg);
  margin: 1em;

  fill: var(--fg);
  font-size: 4em;
  width: 1em;
  height: 1em;
  text-align: center;
}

.card:hover svg,
.card:focus svg {
  transform: rotateY(0deg);
  fill: var(--accent);
}

.card-logo {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.card-title {
  animation: 10s ease infinite spin-me;
  transition: all 0.5s ease-in-out;
  transform: rotateY(0deg);
  color: var(--fg);
  margin: auto;
}

.card:hover .card-title,
.card:focus .card-title {
  animation: none;
  color: var(--accent);
  transform: rotateY(0deg);
}

.card-content {
  transition: all 0.5s ease-in-out;
  margin: 0;

  width: 0;
  opacity: 0;

  overflow: hidden;
  white-space: nowrap;

  font-size: 1em;
}

.card:hover .card-content,
.card:focus .card-content {
  width: 26em;
  opacity: 1;
  margin: 2em;
}

.card .card-content li a:hover {
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100;
  height: 100;
  padding: 2em;
  display: flex;
  z-index: 10000;

  transition: all 0.5s ease-in-out;
}

.modal-header {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  padding-bottom: 1em;
}

.modal-title {
  margin-top: auto;
  margin-bottom: auto;
  color: var(--fg);
}

.modal-close-button {
  height: 2em;
  max-height: 2em;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.modal-close-button svg {
  fill: var(--fg);
}

.modal-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1em;
  margin: auto;
}

.modal.hide {
  top: 100%;
}
